.navbar {
    position: absolute;
    background-color: rgba(7, 82, 196, 0.774);
    width: 100%;
    font: 1.2em Helvetica;
    justify-content: center;
}

h1 {
    
    margin: 0 !important;
    font-weight: 900;
}